@import '../presets';

.session-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: 100;

  top: 25%;
  left: 50%;
  transform: translate(-50%);

  .session-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $green-bright;
    // border: 1px solid white;
    border-radius: 3px;
    width: 500px;
    height: auto;
    background-color: rgba(255,255,255, 1);
    transition: all 0.3s ease 0s;
    padding: 40px 10px;

    .session-form-title {
      font-size: 32px;
      letter-spacing: 0px;
      padding: 0px 0px 20px 0px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #555459;
    }

    .session-form-direction {
      font-size: 15px;
      color: #555459;
      padding-bottom: 15px;

      b {
        font-weight: 900;
      }
    }

    .session-form-label {
      font-size: 16px;
      padding: 10px 0px;
    }

    .session-form-input {
      font-size: 16px;
      font-weight: 300;
      margin: 5px 0px;
      padding: 15px;
      width: 280px;
      border: 1px solid lightgray;
      border-radius: 5px;
      transition: all 0.3s ease 0s;

      &:focus {
        outline: none;
        border: 1px solid $blue;
        transition: all 0.3s ease 0s;
      }
    }

    input[type=submit] {
      width: 100%;
      margin-top: 10px;
      padding: 13px 15px;
      border:0 none;
      cursor:pointer;
      border-radius: 3px;
      background-color: $green-bright;
      color: white;
      font-size: 18px;
      letter-spacing: 1px;
      transition: all 0.3s ease 0s;
    }

    input[type=submit]:hover {
      transition: all 0.3s ease 0s;
      background-color: $green-dark;
    }

    .session-form-error-container {
      width: 80%;
      border: 1px #d73434 solid;
      padding: 5px;
      text-align: center;
      margin-bottom: 25px;
      border-radius: 5px;

      li {
        margin: 10px 0px;
      }
    }
  }
}
