@import '../presets';

.session-form-appear {
  opacity: 0.01;
}

.session-form-appear.session-form-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.session-form-enter {
  opacity: 0.01;
}

.session-form-enter.session-form-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.session-form-leave {
  opacity: 0.01;
}

.session-form-leave.session-form-leave-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}
