.messages-container {
  top: 60px;
  bottom: 81px;
  left: 220px;
  right: 414px;
  position: absolute;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding-left: 27px;
  padding-right: 40px;
  padding-top: 5px;


}
