@import '../presets';

.messages-container {
  display: flex;
  flex-direction: column-reverse;

  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 220px;
  right: 350px;

  margin-bottom: 10px;
  padding-top: 5px;

  border-top: 1px solid lightgray;

  font-size: 16px;
  letter-spacing: 0px;
  list-style: none;

  overflow-y: scroll;

  .message-container {
    position: relative;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    transition: all 0.3s ease 0s;

    .message-avatar-container {
      width: 40px;
      margin-right: 10px;

      img {
        height: 40px;
        width: 40px;
      }
    }

    .message-main-container {
      width: 100%;

      img {
        margin-top: 5px;
        height: 200px;
        max-width: 100%;
      }

      .message-edit-form {
        width: 100%;

        .message-edit-input {
          width: 100%;
          padding: 5px;
          margin-top: 5px;
          font-size: 14px;
          font-family: 'Raleway';
          transition: all 0.3s ease 0s;
          border: 1px solid gray;
          border-radius: 5px;

          &:focus {
            outline: none;
            border: 1px solid $green;
            transition: all 0.3s ease 0s;
          }
        }
      }

      .message-info-container {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        position: relative;

        .message-username {
          font-weight: bold;
          margin-right: 10px;
        }

        .message-timestamp {
          margin-top: 2px;
          font-weight: 300;
          color: gray;
          font-size: 12px;
        }

        .message-btn-container {
          background-color: #f7f7f7;
          display: none;
          position: absolute;
          top: 0px;
          right: -11px;
          transition: all 0.3s ease 0s;

          border-radius: 5px;
          -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.50);
          -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.50);
          box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.50);

          button {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: -1px;
            padding: 5px;
            transition: all 0.3s ease 0s;
            border: 1px solid #ddd;

            &:first-child {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }

            &:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            i {
              color: #999;
              font-size: 20px;
              margin-left: 2px;
              margin-right: 2px;
              transition: all 0.3s ease 0s;
            }

            &:hover {
              transition: all 0.3s ease 0s;

              i {
                transition: all 0.3s ease 0s;
                color: #1c73ff;
              }
            }
          }
        }
      }

      .message-content {
        font-family: Raleway;
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &:hover {
      background-color: rgb(248, 248, 248);
      transition: all 0.3s ease 0s;

      .message-main-container .message-btn-container {
        display: flex;
        color: $green;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.messages-container::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #f3f3f3;
}

.messages-container::-webkit-scrollbar
{
	width: 8px;
  padding-top: 2px;
  border-radius: 5px;
	background-color: #d9d9de;
}

.messages-container::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #d9d9de;
}
