.main-section {
  width: 100%;
  // border: 1px solid black;

  .header-container {
    height: 60px;
    min-height: 60px;
    border: 1px solid black;
  }

  .messages-container {
    top: 63px;
    bottom: 80px;
    left: 220px;
    right: 418px;
    position: absolute;
    border: 1px solid black;
  }

  .message-input-container {
    border: 1px solid black;
    bottom: 0px;
    right: 415px;
    left: 220px;
    position: fixed;
    height: 80px;
  }
}
