@import '../presets';

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;

  width: 100%;
  text-align: left;

  &:focus {
    outline: none;
  }
}

.user-control-menu-container {
  display: flex;
  flex-direction: column;

  .user-control-menu-info-container {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;

    img {
      height: 40px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-right: 10px;
    }

    .user-name-container {
      .user-username {
        font-size: 20px;
        font-weight: 700;
        color: #585858;
        margin-bottom: 3px;
      }

      .user-channelname {
        font-size: 16px;
        font-weight: 300;
        color: lightgray;
      }
    }
  }

  .user-control-menu-profile-container {
    font-weight: 300;
    padding: 7px 10px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;

    button {
      padding: 3px 6px;
      border-radius: 5px;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: $blue;
        color: white;
        transition: all 0.3s ease 0s;
      }
    }
  }

  .user-control-menu-logout-container {
    font-weight: 300;
    padding: 7px 10px;

    button {
      padding: 3px 6px;
      border-radius: 5px;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: $blue;
        color: white;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.user-section {
  min-width: 220px;
  width: 220px;

  position: relative;

  background-color: $main-color;
  color: $main-color-light;
  transition: all 0.3s ease 0s;

  h4 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    color: $main-color-light;
    margin-bottom: 15px;
    padding-left: 15px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: white;
      transition: all 0.3s ease 0s;
    }
  }

  .user-control-container {
    height: 60px;
    border: 1px solid $main-color;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $main-color-dark;
      transition: all 0.3s ease 0s;

      .user-control-name p {
        transition: all 0.3s ease 0s;
        color: white;
      }

      i {
        color: white;
        transition: all 0.3s ease 0s;
      }
    }

    .user-control-title {
      margin-top: 9px;
      margin-left: 15px;

      h2 {
        font-size: 17px;
        font-weight: 700;
        color: white;
      }
    }

    .user-control-name {
      margin-top: 2px;
      margin-left: 15px;

      display: flex;
      align-items: center;

      img {
        height: 10px;
        width: 10px;
        margin-right: 7px;
      }

      p {
        color: $main-color-light;
        font-weight: 300;
        font-size: 14px;
        transition: all 0.3s ease 0s;
      }
    }

    .user-control-icon {
      position: absolute;
      right: 15px;
      top: 10px;

    }

    i {
      font-size: 20px;
    }
  }

  .user-channels-container {
    padding: 15px 0px;

    .user-channels-count {
      margin-left: 5px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }

    .user-channels-list {
      margin-top: -5px;

      button {
        text-align: left;
        width: 100%;

        &:focus {
          outline: 0;
        }
      }

      .user-channels-item {
        padding-left: 15px;
        padding-top: 2px;
        padding-bottom: 3px;
        font-weight: 300;
        font-size: 16px;
        margin-right: 15px;
        transition: all 0.1s ease 0s;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        span {
          font-size: 16px;
          margin-right: 3px;
          opacity: 0.5;
        }

        &:hover {
          color: white;
          background-color: $purple-dark;
          transition: all 0.1s ease 0s;
        }
      }

      .selected-channel {
        background-color: $green;
        color: white;

        &:hover {
          background-color: $green;
        }
      }
    }
  }

  .user-dms-container {
    padding: 0px;
    margin-top: 10px;

    button {
      text-align: left;
      width: 100%;
      padding: 0px;
      margin: 0px;

      &:focus {
        outline: 0;
      }
    }

    .user-dms-button {
      display: flex;
      justify-content: space-between;

      h4 {
        margin-bottom: 7px;
        transition: all 0.3s ease 0s;
      }

      i {
        padding-right: 15px;
        transition: all 0.3s ease 0s;
      }

      &:hover {
        color: white;


        h4 {
          transition: all 0.3s ease 0s;
          color: white;
        }

        i {
          transition: all 0.3s ease 0s;
        }
      }
    }

    .selected-direct-message {
      background-color: $green;
      color: white;

      padding-left: 15px;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-right: 15px;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      transition: all 0.1s ease 0s;

      .user-dm-friend-container {
        display: flex;
        align-items: center;

        span {
          font-size: 13px;
          margin-top: 1px;
          margin-right: 5px;
          opacity: 0.4;
        }

        p {
          color: white;
          font-weight: 300;
          font-size: 16px;
          margin-top: -1px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        transition: all 0.1s ease 0s;
      }

      &:hover {
        background-color: $green;
      }
    }

    .user-dm-friend {
      padding-left: 15px;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-right: 15px;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      transition: all 0.1s ease 0s;

      .user-dm-friend-container {
        display: flex;
        align-items: center;

        span {
          font-size: 13px;
          margin-top: -3px;
          margin-right: 5px;
          opacity: 0.5;
        }

        p {
          color: $main-color-light;
          font-weight: 300;
          font-size: 16px;
          margin-top: -1px;
          padding-right: 3px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        transition: all 0.1s ease 0s;
      }

      &:hover {
        background-color: $purple-dark;
        transition: all 0.1s ease 0s;
      }
    }
  }
}

.editUserFormWrapper {
  padding: 0px 15px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 25px;
  }

  .editUserForm {
    display: flex;
    flex-direction: column;

    .editAvatarForm {
      display: flex;
    }

    img {
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }

    h4 {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    input[type=text] {
      cursor: text;
    }

    input[type=submit] {
      font-size: 16px;
      font-weight: 700;
      background-color: $green;
      color: white;
      transition: all 0.3s ease 0s;
      cursor: pointer;

      &:hover {
        background-color: $green-dark;
        transition: all 0.3s ease 0s;
      }
    }

    input {
      box-sizing: border-box;
      padding: 10px;
      margin-bottom: 25px;

      font-size: 15px;
      font-weight: 100;

      border: 1px solid lightgray;
      border-radius: 5px;

      transition: all 0.3s ease 0s;
      cursor: pointer;

      &:focus {
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        border: 1px solid $blue;
        outline: none;
      }
    }


  }
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-top: 1px solid gray;
  background-color: #4D394B;
  position: fixed;
  bottom: 0px;
  width: 220px;
  color: white;
  padding: 15px 15px 0px 15px;

  font-weight: 300;

  .aboutHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      width: 25px;
      height: 25px;
    }

    h4 {
      color: white;
      margin: 0px;
      padding-left: 10px;
      font-size: 17px;
      font-weight: bold;
    }
  }

  .aboutDescription {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .aboutLinks {
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    a {
      display: block;
      text-decoration: none;
      padding: 5px 0px;
      color: white;
      transition: all 0.3s ease 0s;

      i {
        margin-right: 10px;
        width: 15px;
      }

      &:hover {
        color: $green;
        border-radius: 5px;
        // background-color: $green;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
