// COLORS

$green: #4C9689;
$green-dark: #25a67e;
$green-bright: #2AB27B;

$orange: #EAA22F;
$orange-dark: #E09112;

$red: #D35933;
$red-dark: #B54324;

$sky-blue: #71E2EF;

$blue: #027bb8;

$purple: #4D394B;
$purple-dark: #3e313c;
$purple-light: #948392;

$main-color: #4D394B;
$main-color-dark: #3e313c;
$main-color-light: #ffffff;

$accent-color: #42C299;
