html {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 30px;
}

h1, h2, h3, h4 {
  letter-spacing: 1px;
}

button {
  cursor:pointer;
}

.modal {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  top: 45px;
  bottom: -40px;
  // height: 100%;
}

.btn {
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease 0s;
  color: white;
  background-color: #42c299;
}

.btn:hover {
  background-color: #0e674b;
}

.fade {
  transition: all 0.3s ease 0s;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.shadow-sm {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 0px 0px rgba(50, 50, 50, 0.75);
}

.app-container {
  position: relative;
}

.col-1-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.col-1-4 {
  width: 25%;
}
