html {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 30px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.shadow-sm {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 0px 0px rgba(50, 50, 50, 0.75);
}

.app-container {
  position: relative;
}

.landing-page-nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 30px;

  .landing-page-logo {
    font-size: 20px;
    color: white;
  }

  .session-control-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .session-control-btn {
      text-decoration: none;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
      height: 20px;

      transition: all 0.3s ease 0s;
      color: white;
      background-color: #42c299;
    }
    .session-control-btn:hover {
      background-color: #0e674b;
    }
  }
}

.session-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: 100;

  top: 200px;
  left: 50%;
  transform: translate(-50%);

  .session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #42c299;
    border-radius: 10px;
    width: 400px;
    height: auto;
    background-color: rgba(255,255,255, 0.95);
    transition: all 0.3s ease 0s;
    padding: 40px 10px;

    .session-form-title {
      font-size: 40px;
      padding: 0px 0px 20px 0px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .session-form-label {
      font-size: 16px;
      padding: 10px 0px;
    }

    .session-form-input {
      font-size: 14px;
      margin: 10px 0px;
      padding: 10px;
      width: 250px;
      border-radius: 5px;
    }

    input[type=submit] {
      width: 100%;
      margin-top: 20px;
      padding:10px 15px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #42c299;
      color: white;
      font-size: 14px;
    }
  }
}
