.spinnerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .spinnerLogo {
    width: 100px;
    margin: 15px;
  }

  h1 {
    font-family: 'Lato';
    margin: 15px 0px 30px 0px;
    font-size: 20px;
    font-weight: 900;
    color: white;
  }
}
