@import './presets';

.session-form-appear {
  opacity: 0.01;
}

.session-form-appear.session-form-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.session-form-enter {
  opacity: 0.01;
}

.session-form-enter.session-form-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.session-form-leave {
  opacity: 0.01;
}

.session-form-leave.session-form-leave-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.list-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.list-enter.list-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.list-leave {
  opacity: 1;
  transform: translateY(0);
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.message-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.message-enter.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.message-leave {
  opacity: 1;
  transform: translateY(0);
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}
