<!DOCTYPE html>
<html>
  <head>
    <title>Slackoff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
